@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

html,
body {
  min-height: 100vh;
}

body::after {
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body,
input,
select,
button,
textarea {
  font-family: 'Titillium Web', sans-serif;
  color: #666666;
}

#root,
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 450px;
}

nav a {
  line-height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #484848;
}

nav a.active {
  color: #93005a;
}

h1 {
  font-size: 1.8rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

h2 {
  width: 100%;
  font-size: 1.3rem;
  color: #484848cc;
  margin-bottom: 0.5rem;
}

button {
  border: 1px solid #DDDDDD;
  border-radius: 0;
  min-height: 2.2rem;
}

.button-group {
  display: flex;
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  min-width: 100%;
  font-size: 0.9rem;
  color: #93005a;
  background-color: #b4b36213;
}

button:active {
  box-shadow: 0 0 5px #93005a;
  border: 1px solid #93005a;
  background-color: white;
}

button:disabled {
  color: #4848486b;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px #93005a;
  border: 1px solid #93005a;
}

input[type=checkbox]:active,
input[type=checkbox]:focus,
select:focus {
  box-shadow: initial;
  border: initial;
}

form {
  padding: 0.55rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  border-radius: 4px;
  border: 1px solid #DDDDDD;
  background-color: white;
  outline: none;
  width: 100%;
  height: 2.4rem;
}

#logout {
  position: absolute;
  top: 15px;
  right: 5px;
}

#spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #93005a;
}

footer {
  margin-top: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #adadad;
}

.answer {
  width: 100%;
  line-height: 2.5rem;
  padding: 0.55rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.answer.selected {
  background-color: rgb(252, 252, 252);
  border: 1px dashed #48484871;
}

#quizAnswers {
  min-width: 450px;
}

.option {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-top  : 1px solid grey;
}

.option.truthy {
  /* border: 3px solid blue; */
}
